@model EventCreateDto
@{
    Layout = "~/Views/Shared/_LayoutManagerProduct.cshtml";
    ViewData["Title"] = "Tạo sự kiện";
    ViewData["ActiveNavbar"] = "Event";
}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <h5><i class="bi bi-bookmark-plus"></i> @ViewData["Title"]</h5>
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="@Model.Name" class="form-control" />
                <label asp-for="@Model.Name"></label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>

            <div class=" mb-3">
                <label asp-for="@Model.Description"></label>
                <textarea class="form-control" rows="4" asp-for="@Model.Description"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>

            <button type="submit" class=" btn btn-sm btn-primary">Tạo</button>
            <a asp-area="manager" asp-action="index" asp-controller="event" class="btn btn-sm btn-light">Về danh sách</a>
        </form>

        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
