@model HomeController.ViewModel
@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    ViewData["Title"] = Model.CurentProduct;

    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var url = ViewData["curenturl"] as string;
}

<div class="bd-right-main-product">
    <input type="hidden" id="router-id" value="@Model.GroupId" />
    <div class="curent-product row">
        <div class="col-md-7 left-side-card">
            <div class="heading-card-title mt-4">
                <h3><i class="bi bi-bookmarks text-dark"></i> @Model.CurentProduct.CommodityGroup.Name</h3>

            </div>
            <div class="row mt-3 mb-3">
                <div class="col-md-6">
                    <div class="lenovo-brand ml-4">
                        <div class="share-button mr-5">
                            <div id="fb-root"></div>
                            <script>
                                (function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0];
                                    if (d.getElementById(id)) return;
                                    js = d.createElement(s); js.id = id;
                                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }(document, 'script', 'facebook-jssdk'));</script>

                            <!-- Your share button code -->
                            <div class="fb-share-button"
                                 data-href="@url"
                                 data-layout="button_count">
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="col-md-6">
                    
                </div>
            </div>
            <div class="product-detail-tumb">
                <div class="container">
                      <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>

                      <div class="mySlides">
                        <div class="numbertext">2 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>

                      <div class="mySlides">
                        <div class="numbertext">3 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>
    
                      <div class="mySlides">
                        <div class="numbertext">4 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>

                      <div class="mySlides">
                        <div class="numbertext">5 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>
    
                      <div class="mySlides">
                        <div class="numbertext">6 / 6</div>
                        <img src="~/Image/goph.jpg" style="width:100%">
                      </div>
    
                      <a class="prev" onclick="plusSlides(-1)">❮</a>
                      <a class="next" onclick="plusSlides(1)">❯</a>

                      <div class="caption-container">
                        <p id="caption"></p>
                      </div>

                      <div class="row">
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                        </div>
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                        </div>    
                        <div class="column">
                            <img class="demo cursor" src="~/Image/goph.jpg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                        </div>
                      </div>
                    </div>
            </div>

            <div class="container mt-3">
                <div class="price-tag">
                    <span class="amount"><i class="bi bi-cash-coin"></i> @String.Format(format, "{0:c0}", Model.CurentProduct.Price )</span>
                </div>
                <form method="post" id="submit-add-cart" class="submit-add-cart mt-1">
                    <div class="counter">
                        <button onClick='decreaseCount(event, this)' class="minus-btn" type="button" name="button">
                            -
                        </button>

                        <input type="text" name="name" value="1">
                        <button onClick='increaseCount(event, this)' class="plus-btn" type="button" name="button">
                            +
                        </button>
                    </div>

                    <div class="add-to-cart-button">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-cart-plus-fill"></i> Thêm vào giỏ</button>
                    </div>
                </form>
               
            </div>

        </div>
        <!-- right side card -->
        <div class="col-md-5 pb-2 right-side-card">
            <div class="main-card">
                
                <div class="heading-card-title-info mt-4">
                    <h1>@Model.CurentProduct.Name</h1>
                </div>
                <div class="card-product-info pt-3">
                    <h5>THÔNG TIN </h5>
                    <div class="information">
                        @if (string.IsNullOrEmpty(Model.CurentProduct.Description))
                        {
                          <p>Xin lỗi hiện nhà thuốc chưa cập nhật thông tin về sản phẩm này , Mời bạn đến nhà thuốc để nghe các dược sĩ tư vấn , hoặt gọi qua host phone bên dưới.</p>
                           
                        }
                      
                    </div>
                    
                </div>
               
            </div>
        </div>
        <div class="content">
            <h5>Mô tả :</h5>
            <p>
                Sản phẩm hiện đang bày bán tại quầy , liên hệ host phone bên dưới để được tư vấn.
            </p>
        </div>
    </div>
  </div>



<div class="list-card-product">
    <img src="~/image/san-pham-ban-chay.svg" />
    <h2 class="special-offer-banner">Sản phẩm tương tự</h2>
    <div id="list-card-product" class=" cards">
        @await Html.PartialAsync("_CardProducts", Model.Products )
    </div>

</div>
@section MenuGroups {
    @await Component.InvokeAsync(MenuGroups.COMPONENTNAME,
             new MenuGroups.Menu()
             {
                 CurentGroup = Model.CurentGroup,
                 Groups = Model.Groups,
                 GroupId = Model.GroupId,
                 listSerialUrl = Model.listSerialUrl

             })
}

@section Scripts{
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("demo");
            let captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>

    <script type="text/javascript">
        function increaseCount(a, b) {
            var input = b.previousElementSibling;
            var value = parseInt(input.value, 10);
            value = isNaN(value) ? 0 : value;
            value++;
            input.value = value;
        }
        function decreaseCount(a, b) {
            var input = b.nextElementSibling;
            var value = parseInt(input.value, 10);
            if (value > 1) {
                value = isNaN(value) ? 0 : value;
                value--;
                input.value = value;
            }
        }
    </script>
   
}
@section CurentLink{
    <li><a>/</a></li>
    <li>
        <a asp-controller="home" asp-action="group" asp-route-group="@Model.CurentGroup.Id">@Model.CurentGroup.Name</a>
    </li>
    <li><a>/</a></li>
    <li>
        <a asp-controller="home" asp-action="detail" asp-route-id="@Model.CurentProduct.Id">@Model.CurentProduct.Name</a>
    </li>
    
}

@section MenuSmallGroups{
    @await Component.InvokeAsync(MenuGroups.COMPONENTNAME,
             new MenuGroups.Menu()
             {
                 Groups = Model.Groups,
             })
}


@section FacebookSharedHead{
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Model.CurentProduct.Name" />
    <meta property="og:description" content="@Model.CurentProduct.Description" />
    <meta property="og:image" content="@Model.CurentProduct.UrlImage" />
}

