@model PagedList<Product>
@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@foreach (var item in Model)
{
    <div class="product-card">
        @if (item.Hot)
        {
            <div class="badge-hot">Hot</div>
        }
              
        @if (@item.Promotion > 0)
        {
            <div class="discount-product">
                @String.Format("{0}{1}{2}","-", @item.Promotion,"%")
            </div>
        }
        <div class="product-tumb">
            @if (item.Images?.Count > 0)
            {
                <a asp-area="" asp-action="detail" asp-route-id="@item.Id"><img src="~/ImageManager/ProductImg/@item.Images.ToList()[0].Url" alt=""></a>
            }
            else if(!string.IsNullOrEmpty(item.UrlImage))
            {
                <a asp-area="" asp-action="detail" asp-route-id="@item.Id"><img src="@item.UrlImage" alt=""></a>
                        
            }
            else
            {
                <a asp-area="" asp-action="detail" asp-route-id="@item.Id"><img src="~/image/goph.jpg" /></a>
                        
            }
        </div>
        <div class="product-details">
            <span class="product-catagory">@item.CommodityGroup?.Name</span>
            <h4><a asp-area="" asp-action="detail" asp-route-id="@item.Id">@item.DisplayName</a></h4>
                    
            <div class="product-bottom-details">
                <div class="product-price">
                    @if (item.Promotion > 0)
                    {
                        @if (item.IsPrice)
                        {
                            <small>@String.Format(format, "{0:c0}", @item.Price )</small>
                            @String.Format(format, "{0:c0}",@String.Format(format, "{0:c0}", @item.Price - (@item.Price * item.Promotion) / 100 ))
                        }else
                        {
                            <a style="text-decoration: none;"  href="tel:0981031068"><i class="bi bi-telephone-inbound-fill"></i> Liên hệ</a>
                        }

                    }
                    else
                    {
                        @if (item.IsPrice)
                        {
                            @String.Format(format, "{0:c0}", @item.Price )
                        }else
                        {
                            <a style="text-decoration: none; color:brown; font-size: 13px;" href="tel:0981031068"><i class="bi bi-telephone-inbound-fill"></i> liên hệ</a>
                        }
                              
                    }

                </div>
                <div class="product-links">
                          
                        <a ><i class="bi bi-chat-heart"></i></a>
                        <a  onclick="addtocart(this,`@item.Id`)"><i class="bi bi-bag-plus"></i></a>           
                </div>
            </div>
        </div>
    </div>
}
