@using GOPH.Dto;
@model IEnumerable<ProductCart>

@{
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

    var productPromotions = Model.Where(x => x.Promotion != 0).ToList();

    var picePromotion = 0;
    
    foreach (var item in productPromotions)
    {
        picePromotion += ((int)item.TotalPrice * item.Promotion) / 100;

        
    }

    var totalallpriceCurent = Model.Sum(x => x.TotalPrice);

    var totalallprice = totalallpriceCurent - picePromotion;

}


  
<div class="products">
        @if (Model?.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <div class="product">

                    @if (item.Images?.Count > 0)
                    {
                        <img src="~/ImageManager/ProductImg/@item.Images.ToList()[0].Url" alt="">
                    }
                    else if (!string.IsNullOrEmpty(item.UrlImage))
                    {
                        <img src="@item.UrlImage" alt="">

                    }
                    else
                    {
                       <img src="~/image/goph.jpg" />

                    }

                    <div class="product-info">

                        <h3 class="product-name">@item.Name</h3>

                        <h5 class="product-price">
                            Đơn : @String.Format(format, "{0:c0}", item.Price )
                            @if (item.isWholesale)
                            {
                                <span style="color: red; font-size: 16px;"> (Giá sỉ)</span>
                            }
                        </h5>
                        <h5 class="product-offer">Giảm: @item.Promotion %</h5>
                        <h5 class="product-price">Tổng : @String.Format(format, "{0:c0}", item.TotalPrice  -  item.TotalPrice * item.Promotion /100 )</h5>
                            <div class="counter" >
                                <button onClick='decreaseCount(`@item.Id`, this)' class="minus-btn" type="button" name="button">
                                    -
                                </button>

                                <input type="number" name="name" value="@item.Quantity">
                                <button onClick='increaseCount(`@item.Id`, this)' class="plus-btn" type="button" name="button">
                                    +
                                </button>
                            </div>
                        <div>
                            <button class="product-remove" onclick='deletCart(this, `@item.Id`)'> <i class="bi bi-trash3-fill"></i></button>
                        </div>
                       
                     
                    </div>

                </div>
            }
        }
        else
        {
            <div class="cart-default">
                <p>
                    Chưa có sản phẩm trong giỏ hàng <a asp-area="" asp-controller="home" asp-action="index">Tới cửa hàng</a>
                </p>
                <a asp-area="" asp-controller="home" asp-action="index"><img src="~/logo/go-pharmacy.png" /></a>
            </div>

        }
</div>





<div class="cart-total">

    <p>

        <span>Tổng tiền:</span>

        <span> @String.Format(format, "{0:c0}", totalallpriceCurent )</span>

    </p>

    <p>

        <span>Giảm giá trực tiếp :</span>

        <span>@String.Format(format, "{0:c0}", picePromotion )</span>

    </p>

    <p>

        <span>Thành tiền :</span>

        <span>@String.Format(format, "{0:c0}", totalallprice )</span>

    </p>
    @if (Model?.Count() > 0)
    {
        <a asp-area="" asp-action="OrderInformation" asp-controller="cart">Đặt hàng</a>
    }
    

</div>