@inject IHttpContextAccessor _httpcontext;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var domain = string.Format("{0}://{1}", _httpcontext.HttpContext.Request.Scheme, _httpcontext.HttpContext.Request.Host.ToString());
    var statusMessage = TempData["StatusMessage"] as string;
}

<div class="container mt-2">
    <input type="hidden" id="domain" value="@domain" />
    <input type="hidden" id="number-page" value="1" />
    <div class="category-order">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @ActiveNavPages.OrderActiveClass(ViewContext)" asp-area="manager" asp-controller="order" asp-action="index"><i class="bi bi-box2"></i> Đơn đặt hàng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ActiveNavPages.InvoiceActiveClass(ViewContext) " asp-area="manager" asp-controller="Invoice" asp-action="index"><i class="bi bi-receipt-cutoff"></i> Hóa đơn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @ActiveNavPages.OrderRecycleBinActiveClass(ViewContext) " asp-area="manager" asp-controller="order" asp-action="recyclebin"><i class="bi bi-trash3-fill"></i> Đơn hàng rác</a>
            </li>
            
        </ul>
    </div>

    <partial name="_AlertMessage" model="@statusMessage" />
    
    @RenderBody()

    <div class="myAlert-bottom alert alert-primary" role="alert">
    </div>
    <div id="modal-all" class="modal-all">
        <div class="loadding-all"><img style="width: 50px; height:50px;" src="~/iconcontan/load.gif" /></div>
    </div>

</div>

@section Scripts{

    @await RenderSectionAsync("Scripts", required: false)

}
