@inject IHttpContextAccessor _httpcontext;
@inject ICartServices _cart
@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
    var domain = string.Format("{0}://{1}", _httpcontext.HttpContext.Request.Scheme, _httpcontext.HttpContext.Request.Host.ToString());
   
    
}

@section FacebookSharedHead{
    @await RenderSectionAsync("FacebookSharedHead", required: false)
}

<div class="container-fluid mt-3">
   
    <div class="bd-left">
        <aside class="bd-sidebar">
            <div class="menu-group-big">
                @RenderSection("MenuGroups", required: false)
            </div>
            
        </aside>
    </div>
    <div class="bd-right">
        <div class="header-title">
            <div class="curent-link">

                <ul>
                    <li>
                        <a asp-action="index" asp-controller="home"><i class="bi bi-house-door"></i> Trang chủ</a>
                    </li>
                    @RenderSection("CurentLink", required: false)
                    
                </ul>
            </div>

            @*<div class="curent-date">
                <p></p>
            </div>*@

        </div>

        <input type="hidden" id="domain" value="@domain" />
        <input type="hidden" id="number-page" value="1" />
        @RenderBody()
        <div class="loader-scroll"><img id="loader-scroll-img" class="loader-scroll-img" src="~/iconcontan/load.gif" /></div>
    </div>

</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="menuSmallGroups" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">       
        <button style="position: absolute; top: 20px; right: 15px;" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        @RenderSection("MenuSmallGroups", required: false)
    </div>
</div>


@section HostPhone{
    <div class="float-contact">
        <div class="call-hotline">
            <a href="tel:0986635845"><img title="Call Hotline" src="~/Iconcontan/icon-phone.png" alt="phone-icon" width="40" height="40" /></a>
        </div>
        <div class="chat-facebook">
            <a href="https://www.facebook.com/GoPharmacyNhaTrang" target="_blank"><img title="Chat Facebook" src="~/Iconcontan/icon-facebook.png" alt="facebook-icon" width="40" height="40" /></a>
        </div>
        <div class="chat-zalo">
            <a href="https://zalo.me/0986635845" target="_blank"><img title="Chat Zalo" src="~/Iconcontan/zalo-icon.png" alt="zalo-icon" width="40" height="40" /></a>
        </div>
    </div>
}

@section Scripts{

    <script src="~/js/scrollbarsohowproduct.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
}