
@model PagedList<Product>
@{
    ViewData["Title"] = "Danh mục sản phẩm & thuốc";
    int i = 1;
    var statusMessage = TempData["StatusMessage"] as string;

    var paging = new Pagin()
            {
                UrlAction = "index",
                CurrentPage = Model.CurrentPage,
                TotalPages = Model.TotalPages,
            };
}
<div class="container">
    <h3 class="title-list">@ViewData["Title"] </h3>
    <partial name="_AlertMessage" model="@statusMessage" />
    <div class="container-fluid">

        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">Navbar</a>
                <a asp-action="create" asp-area="manager" asp-controller="product" class="btn btn-primary mb-2">Thêm + </a>
                <form autocomplete="off" asp-controller="product" asp-antiforgery="true" asp-action="DownloadReport" method="post">
                    <button type="submit" class="btn btn-success">Xuất file</button>
                </form>
                <form method="post" asp-action="SearchIndex" class="d-flex">
                    <input class="form-control me-2" id="name-list" type="search" aria-label="Search" placeholder="Tên sản phẩm" name="search">
                    <input id="hfProduct" name="productId" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </nav>

       @* <form asp-controller="product" asp-antiforgery="true" asp-action="EditAllProduct" method="post">
            <button type="submit" class="btn btn-success">Cập nhật danh sách</button>
        </form>*@
    </div>
   
    <table style="overflow-x: auto;" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Tên</th>
                <th scope="col">Ảnh</th>               
                <th scope="col">Giá bán</th>
                <th scope="col">Giá vốn</th>
                <th scope="col">Mã vạch</th>
                <th scope="col">Nhóm hàng</th>
                <th scope="col">Hàng hóa</th>

                <th scope="col">Chức năg</th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>

            @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>
                        @if (!string.IsNullOrEmpty(product.UrlImage))
                        {
                            <img style="width:50px; height: 50px;" src="@product.UrlImage" />
                        }else
                        {
                            <img style="width:50px; height: 50px;" src="~/image/product.jpg" />
                        }
                        
                    </td>
                    <td>@product.Price</td>
                    <td>@product.CapitalPrice</td>
                    <td>@product.Code</td>
                    <td>@product.CommodityGroupId</td>
                    <td>@product.CommodidyId</td>
                    <td>
                        <a asp-action="delete" asp-area="manager" asp-controller="product" asp-route-id="@product.Id" class="btn btn-sm btn-light">Xóa</a>
                        <a asp-action="update" asp-area="manager" asp-controller="product" asp-route-id="@product.Id" class="btn btn-sm btn-light" class="btn btn-sm btn-light">Sửa</a>
                        
                    </td>
                </tr>

                i++;
            }
        </tbody>
    </table>

    <span class="text-danger"></span>

    @await Html.PartialAsync("_PaginPartial", paging)
</div>


@section Scripts 
{
    @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
 
<script>
        $(function () {
            $('#name-list').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "https://localhost:7084/Manager/Product/Search",
                        data: { "prefix": request.term },
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                            console.log(data);
                            response(data);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    })
                },
                select: function (e, i) {
                    debugger
                    $("#hfProduct").val(i.item.val);
                },
                minLength: 1
            }).autocomplete("instance")._renderItem = function (ul, item) {
                console.log('test');
                var item = $('<div class="list_item_container"><div class="image"><img class="imageClass" src="' + item.logoUrl + '"></div><div class="label">' + item.label +  '</div></div>')
                return $("<li>").append(item).appendTo(ul);
            };
        });
</script>
     
}


                              